*{
    margin: 0%;
}
body{
    background-color: whitesmoke;
    font-family: sans-serif;
    font-size: 20px;
}
html{
    scroll-behavior: smooth;
}
#Titulo{
    background-color: mediumturquoise;
    position: sticky;
    top: 0%;
    z-index: 1000;
}
.LinkLimpo{
    text-decoration: none;
}
.LinkLimpo:hover{
    text-decoration: none;
}
.Centralizar{
    text-align: center;
}
#Nome_Projeto{
    margin-top: 2%;
}
em{
    font-weight: bold;
}
#Dados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1%;      
    margin: 2% auto;
    width: 100%; 
    max-width: 1200px;
}
.DadoCard {
    width: 80%;
    height: 175px; 
    border-radius: 5%;
    padding: 5%;
}
#Dados1{
    background-color: orangered;
}
#Dados2{
    background-color: turquoise;
}
#Dados3{
    background-color: greenyellow;
}
#Dados4{
    background-color: goldenrod;
}
#Cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1%;      
    margin: 2% auto;
    width: 100%; 
    max-width: 1200px;
}
.Card {
    background-color: black;
    width: 80%;
    height: 175px; 
    border-radius: 5%;
}   
#Card1{

}
#Card2{

}
#Card3{

}
#Card4{

}
.Qm{
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
}
h2.Qm + p.Qm{
    margin-bottom: 2%;
}
#App{
    display: block;
    margin: auto;
    margin-top: 1%;
}
.SE{
    color: orangered;
}
#BASE{
    display: inline-flex;
    align-items: center;

}
.AppTexto{
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 50%;
    margin-left: 25%;

}
.AppA{
    flex: 1;
}