*{
    margin: 0%;
}
body{
    background-color: whitesmoke;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 14px;
}
html{
    scroll-behavior: smooth;
}
header{
    background-color: rgba(231, 231, 252, .970);
    position: sticky;
    top: 0%;
    z-index: 1000;
    border-bottom: 1px solid rgba(128, 128, 128, 0.671);
}
.headerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 10px auto;
    padding: 10px 20px;
}
.menuNav a{
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 15px;
    transition: color 0.2s ease;
    padding: 5px;
}
.menuNav{
    margin-right: auto;
    margin-left: auto;
}
.menuNav a:hover{
    color: rgb(20, 20, 150);
}
.LinkLimpo{
    text-decoration: none;
}
.LinkLimpo:hover{
    text-decoration: none;
}
.Centralizar{
    text-align: center;
}
#Nome_Projeto{
    margin-top: 2%;
    font-size: 45px;
}
#Nome_Projeto span{
    color: rgb(45, 45, 245);
}
#desc{
    color: gray;
    margin-left: auto;
    max-width: 50%;
    margin-right: auto;
    margin-top: 1.5%;
}
em{
    font-weight: bold;
}
#solContainer{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    width: 100%;
    max-width: 1000px;
    gap: 2%;
    padding: 5%;
}
.Solucoes{
    background-color: ghostwhite;
    position: relative;
    margin-top: 2%;
    border: 1px solid gray;
    width: 100%;
    height: 175px;
    border-radius: 5%;

}
.Contador{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 32px;
    height: 32px;
    border-radius: 20%;
    background-color: rgba(216, 234, 255, 0.89);
    color: rgb(6, 9, 219);
    font-weight: bold;
}
#Solucao h2{
    font-size: 36px;
}
#Solucao p{
    text-align: center;
}
.Solucoes h3{
    font-size: 16px;
    margin-top: 10%;
    margin-left: 20%;
    font-weight: 700;
}
.Solucoes p{
    margin: 6%;
    font-size: 13.5px;
    line-height: 1.5;
}
.Qm{
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
}
h2.Qm + p.Qm{
    margin-bottom: 2%;
}
#App{
    width: 50%;
    margin-top: 1%;
}
.AppTexto{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: .5%;
    max-width: 100%;
    margin-bottom: 2%;
}
#DivImg{
    max-width: 35%;
}
#ConhecerMais{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 45, 245);
    width: 35%;
    height: 35px;
    border-radius: 5px;
    margin: 10px auto 0 auto;
    text-align: center;
}
#ConhecerMais a{
    color: whitesmoke;
}
#Impacto {
    p {color: #64748b; margin: 0; font-size: 20px;}
    h1 {font-size: 50px; margin: 0; }
    text-align: center;
    background-color: #14213D;
    max-width: 100%;
    height: 450px;
    padding-top: 40px;
}

.inicioB {
    color: white;
}

.blocos {
    background-color: #14213d;
    color: white;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px; 
    padding: 27px 20px; 
    border: 1px solid rgba(255, 255, 255, .04);; 
    border-radius: 16px; 
}
/* ------------------Recursos------------------ */
#recursos {
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: rgba(247, 249, 252);
    padding: 30px;
}

.recursos {
    display: flex;
    gap: 3%;
    margin: auto;
    width: 50%;
}

.recursos_topico{
    border: 1px solid rgb(233, 235, 238);
    border-radius: 20px;
    flex: 1;
    text-align: left;
    padding: 3%;
    background-color: white;
}

#recursos ul{
    list-style: none;
}

#recursos li{
    color: gray;
    padding-bottom: 10px;
    padding-top: 10px;
}

#recursos li::before{
    content: "✓";
    color: #18a67a;
    font-weight: 900;
    margin-right: 9px;
}

#recursos h2{
    font-size: 36px;
}

#recursos p {
    color: gray;
}

/* ----------------------------- Footer ----------------------------- */
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(250, 250, 250);
    margin-top: auto;
}

footer div{
    text-align: center;
}

.span1{
    font-weight: bold;
}

.span2 {
}

.span3 {
}